#example2 {
    border: 2px solid black;
    padding: auto;
    background: url("../static/background_pc.jpg");
    background-repeat: no-repeat;
    background-size:100%;    
  }
  @media (max-width: 680px){
    .Text1 img{
      max-width: 200px;
      max-height: 200px;
    }
    .Yo{
      display: flex;
      font-size: 5px;
      flex-direction: column;
  }
  .grid{
    height: auto;
    display: grid;
    background-color:#ffffff8d;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
  }
  .grid img{
    max-width: 15px;
    max-height: 15px;
  }
}
  .ProfileImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  body {
    background-color:#fbe5f4;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(70, 71, 72);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .Data{
    text-align: center;
    text-align: center;
    text-align: center;
    font-style: italic;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(218, 0, 0);
    color: rgb(216, 255, 76);
  }

  .personalData{
    margin-left: auto;
    margin-right: auto;
    width: 21em
  }
  

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } 
 
  .read {
    background-picture: url("/static/Images/books.jpg");
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }

  .fade{
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
  }
  .Text1{
      display:flex;
      align-items:center;
      text-align: justify;
      width:100%;
      background-color:#fbe5f4;

  }


  .flex-container_skills {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.grid{
  height: auto;
  margin: 4rem;
  display: grid;
  background-color:#a31b0f8d;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  color: rgb(27, 1, 1);
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
.highlightened{
  background-color:#840906;
}
.colored_{
  color:#4af744
}
.btn_me{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  holder-shadow: 0 9px #999;
}
.btn_me:hover{
  background-color:#654c4c;
}
.information{
  border: 2px solid black;
  border-radius:30px;
  text-align: center;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {holder-sizing: border-holder;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  holder-sizing: border-holder;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container_skills {
  background-color: #f3f3f3;
  padding: 18px;
  border-radius: 7px;
}

.form_style{
  border:12px solid rgb(0, 0, 0);
  font-size: 1.5em;
  border-radius:25px;
}

.skills {
  background: linear-gradient(to bottom, #528ae9, #550303);
  min-height: 95vh;
}
.skills h2 {
  color: rgb(111, 231, 115);
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container_skills {
  display: table;
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container_skills .row {
  display: grid;
  flex-wrap: wrap;
  gap: 2.3rem;
  grid-template-columns: repeat(6, 1fr);

}
.skills .container_skills .bar {
  margin-bottom: 14px;
  padding: 12px;
  border-radius: 1.5rem;
  holder-shadow: 0 3.5px 8px rgba(24, 24, 24, 0);
  background: rgba(0, 0, 0, 0.9);
  transition: 0.1s;
}
.skills .container_skills .bar:hover {
  background-color: rgba(0, 0, 0, 0) ;
  holder-shadow: 0 12px 12px #ffc9c92e ;
}
.skills .container_skills .bar .info {
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.skills .container_skills .bar .info i {
  font-size: 6rem;
}
.skills .container_skills .bar .info span {
  font-size: 2.9rem;
  font-weight: 700;
  margin-left: 0.7rem;
}

@media screen and (max-width: 600px) {
  .skills .container_skills {
    padding: 0;
    margin: 0;
  }
  .skills .container_skills .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
    padding: 2.5rem 0.5rem 2.3rem 0.4rem;
    gap: 1.3rem;
  }
  .skills .container_skills {
    margin-top: 2px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .skills .container_skills {
    padding: 0;
    margin: 0;
  }
  .skills .container_skills .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2.5rem 0.5rem 2.3rem 0.4rem;
    gap: 1.2rem;
  }
  .skills .container_skills {
    width:100%;
    margin-top: 7x;

  }
}

.education {
    min-height: 80vh;
  background-color: #3415152e;

}

.education .b1_holder {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-information__: center;
  
}

.education .b1_holder .holder {
  display: flex;
  flex-direction: row;
  width: 83%;
   margin-top: 2rem;
  overflow: hidden;
  transition: 0.4s;
  background: rgb(246, 246, 246);
  border-radius: 0.7rem;
  holder-shadow: 0.3rem 0.45rem 2rem rgba(0, 0, 0, 0.4);
  text-align: center;
  position: relative;

}
.education .b1_holder .holder:hover {
  transform: scale(1.05);
   holder-shadow: 0.3rem 0.45rem 2rem rgba(0, 0, 0, 0.4);
}
.education .b1_holder .holder .picture {
    width: 100%;
  flex: 1 1 23rem;
}
.education .b1_holder .holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;

}
.education .b1_holder .holder .information__ {
    padding: 1.02rem;
  flex-wrap: wrap;
  flex: 1 1 72rem;
  position: relative;
  display: flex;
  flex-direction: column;

}
.education .b1_holder .holder .information__ h3 {
    padding: 0.6rem 0.2;
  font-weight: 650;
  text-align: left;
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #970909;

}
.education .b1_holder .holder .information__ p {
     text-align: left;
    font-size: 1.6rem;
	margin-left: 1.31rem;
 
}
.education h4 {
  font-size: 2.2rem;
  text-align: left;
  margin: 1.03rem;
  font-weight: 750;
}

@media screen and (max-width: 600px) {
  .education .b1_holder .holder {
    width: 100%;
	flex-direction: column;
    
  }
  .education .b1_holder .holder .picture {
    width: 100%;
    height: 24rem;
  }
  .education .b1_holder .holder img {
    width: 100%;
  }
  .education .b1_holder .holder .information__ {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.01rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
       margin-left: 1.02rem;
    margin-right: 1.03rem;
    flex-wrap: wrap;
	margin-top: 2.1rem;
 
  }
}



